<label for="cities">Cities:</label>
<br>
<input id="cities" type="text" name="cities" value="{{entry.cities}}">

<br><br>

<label for="dateStart">Start of {{advenTravel}}:</label>
<input id="dateStart" type="date" name="dateStart" value="{{entry.dateStart}}">
<br>

<label for="dateEnd">End of {{advenTravel}}:</label>
<input id="dateEnd" type="date" name="dateEnd" value="{{entry.dateEnd}}">

<br><br>

<div class="btn-container">
    <button class="btn {{colour}}" type="submit">Save {{advenTravel}}!</button>
</div>