<div class="watermark travelList">
        <img class="semi-transparent-favicon" src="/images/220319_Favicon_black.png" alt="Semi-transparent Favicon">
</div>

<div class="past-travels-div adventureList">
<h1>new adventures: </h1>
</div>


{{!-- <h3><a href="/private/{{user.username}}/travels/{{user._id}}">Link to example</a></h3> --}}
<div class="ul-travels-container">

<ul>
{{#each adventures }}

<div class="black-travel-box">
    <div class="country-and-year-div">
    <li id="litograpthis"> 
        <div id="country-in-travel-box-adventure"> {{ this.country }} </div>
        <div id="year-in-travel-box-adventure">{{ this.year }}</div></li>
    </div>
    <div class="btn-travel-box">  
        <h3 class="cities-travel-list-adventure"><i class="fa-solid fa-building-columns">
  </i>{{this.cities}}</h3>
  <div class="edit-btn-travel-list-div">

    <button class="edit-btn-travel-list-adventure"><a href="/private/{{../user.username}}/adventures/{{this._id}}">edit <i class="fa-solid fa-pencil"></i></a></button>
  </div>
    <form action="/private/{{ ../user.username }}/adventures/delete" method="POST" >

            <input id="debuggingId" style="display:none" type="text" name="id" value="{{ this._id }}">
            <button class="delete-btn-travel-list-adventure" type="submit">delete <i class="fa-solid fa-trash-can"></i></button>
    </form>
    </div>

</div>

{{/each}} 
</ul>

</div>
