<div class="detailspage-container">
    <div class="details-form" id="adventure-form">

        <div class="header-div">
            <h1 id="adventure-header"> - your adventure - </h1>
        </div>

        <form action="/private/{{user.username}}/adventures/{{entry._id}}" method="POST">

        {{#if entry}}
            <label for="country">Country:</label>
            <br>
            <select id="country" name="country" required>
                    <option id="selectedCountry" selected="{{entry.country}}" value="{{entry.country}}">{{entry.country}}</option>
                {{#each countryNames}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>

            <br><br>

            {{> detailsForm advenTravel="adventure" colour="petrol"}}

        {{else}}
            <label for="country">Country:</label>
            <br>
            <input id="country" type="text" name="country" value="{{entry.country}}">

            <br><br>

            {{> detailsForm advenTravel="adventure" colour="petrol"}}

        {{/if }}

        </form>

    </div>

    <div id="wiki-adventure" class="wiki"></div>

</div>

<script src="/js/wikiapi.js"></script>
