<div class="detailspage-container">

<div class="details-form">

<div class="header-div">
    <h1> - your travel -</h1>
</div>

<form action="/private/{{user.username}}/travels/{{entry._id}}" method="POST">

{{#if entry}}
    <label for="country">Country:</label>
    <br>
    <select id="country" name="country" required>
            <option id="selectedCountry" selected="{{entry.country}}" value="{{entry.country}}">{{entry.country}}</option>
        {{#each countryNames}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>

    <br><br>

    <label for="cities">Cities:</label>
    <br>
    <input id="cities" type="text" name="cities" value="{{entry.cities}}">

    <br><br>

    <label for="dateStart">Start of travel:</label>
    <input id="dateStart" type="date" name="dateStart" value="{{entry.dateStart}}">
    <br>

    <label for="dateEnd">End of travel:</label>
    <input id="dateEnd" type="date" name="dateEnd" value="{{entry.dateEnd}}">

    <br><br>
    <div class="btn-container">
        <button class="btn orange" type="submit">Save travel!</button>
    </div>

{{else}}
    <label for="country">Country:</label>
    <br>
    <input id="country" type="text" name="country" value="{{entry.country}}">

    <br><br>

    <label for="cities">Cities:</label>
    <br>
    <input id="cities" type="text" name="cities" value="">

    <br><br>
    <label for="dateStart">Start of travel:</label>
    <input id="dateStart" type="date" name="dateStart" value="">
    <br>

    <label for="dateEnd">End of travel:</label>
    <input id="dateEnd" type="date" name="dateEnd" value="">
    
    <br><br>
    <div class="btn-container">
        <button class="btn orange" type="submit">Save travel!</button>
    </div>
{{/if }}

</form>

</div>

<div id="wikiInfo" class="wiki"></div>

</div>

<script src="/js/wikiapi.js"></script>
