<h1>These are your past travels: </h1>

{{!-- <h3><a href="/private/{{user.username}}/travels/{{user._id}}">Create new travel</a></h3> --}}

<ul>
  {{#each travels}}
    <div>
      <li> {{this.country}} {{this.year}}</li>
      <button><a href="/private/{{../user.username}}/travels/{{this._id}}">edit</a></button>
     
    </div>
  {{/each}}
</ul>
